<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>Sign-up Page</title>
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<style>

</style>

<body>
    <div class="login-container">
        <h2>Sign-up Form</h2>
        <span> Stock and Inventory Management System</span>
        <!-- <form action=""> -->
        <form action="#" id="form">
                <input id="username" type="text" placeholder="Username">
                <input id="fullname" type="text" placeholder="Full Name">
                <input id="Email" type="text" placeholder="Email">
                <input id="phone" type="text" placeholder="Phone">
                <input id="password" type="text" placeholder="Password">
                <input id="confirm-password" type="text" placeholder="Confirm Password">

                </input>
            </div>
            <div class="checkbox">
                <input type="checkbox">
                <label for="remember">Agree with Terms and Conditions</label>
            </div>
            <button type="submit">Submit</button>

            <p id="errorMessage"></p>
        </form>
    </div>
<script>
    let username = document.getElementById("username");
    let fullname = document.getElementById("fullname");
    let email = document.getElementById("Email");
    let phone = document.getElementById("phone");
    let password = document.getElementById("password");
    let confirmPassword = document.getElementById("confirm-password");
    let errorMessage = document.getElementById("errorMessage");

password.addEventListner("input",function(){
    let value = password.value;
    if(value>8){
        errorMessage.innerHTML = "Password must be at least 8 characters long";
    }
})

    </script>
</body>

</html>